[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:suiyelian/suiyelian.github.io.git
	branch = master
[submodule "public/public"]
	path = public/public
	url = https://github.com/suiyelian/suiyelian.github.io.git
	branch = master
